$mobile-max-width: 576px;
$color-shuttle-gray: #5c6979;
$prefix: jdls;

$primary: (
    50: #EEF8F6,
    100: #D0F0EA,
    200: #B3E7DD,
    300: #96DED0,
    400: #7AD5C4,
    500: #42C3AB,
    600: #38A591,
    700: #2E8877,
    800: #246A5D,
    900: #1A4D43
);

$secondary: (
    50: #FFF9ED,
    100: #FFE9C0,
    200: #FFD78E,
    300: #FFC862,
    400: #FFB733,
    500: #FFA500,
    600: #FF8600
);

$blue: (
    50: #F0F6FE,
    100: #DBE8FE,
    200: #C3DBFF,
    300: #A5C7FC,
    400: #79ADFB,
    500: #2C7DF9,
    600: #2569D2,
    700: #1E56AC,
    800: #184487,
    900: #113162
);

$red: (
    50: #FDF5F5,
    100: #FCE1DF,
    200: #F8CAC7,
    300: #F6B0AB,
    400: #F18B84,
    500: #EA5045,
    600: #C5433A,
    700: #A33830,
    800: #7F2C26,
    900: #5B1F1B
);

$coal: (
    200: #90A1B1,
    300: #708496,
    400: #526576,
    500: #3B5363,
    600: #2C4353,
    700: #2C4353,
    800: #192B37
);

$ash: (
    200: #F9FAFA,
    300: #F1F3F5,
    400: #E4E9ED,
    500: #D4DCE1,
    600: #C3CFD7,
    700: #B5C2CD,
    800: #A2B2BE
);

$gray: (
    50: #FAFAFA,
    100: #F5F5F5,
    200: #EEEEEE,
    300: #E0E0E0,
    400: #BDBDBD,
    500: #9E9E9D,
    600: #757575,
    700: #616161,
    800: #424242,
    900: #212121
);
